@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">SaveKids.Net</h1>
        <h5>
            An open registry of kidnappers, pedophiles and other criminals associated with kids.
        </h5>
        <h4>
            Be aware of your kids...
        </h4>
        <h3>Save Kids!!!</h3>
    </div>
    <img src="https://s00.yaplakal.com/pics/pics_original/5/8/2/9186285.jpg" alt="Image" class="img-fluid">
</div>
